<!DOCTYPE html>
<html lang="pt-br">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro do pokemon</title>
  <link rel="icon" href="/IMG/icon.jpg" />
  <link rel="stylesheet" href="CSS/style2.css" />
 </head>
 <body>
  <header class="topnav">
   <nav>
    <a href="/">Home</a>
    <a href="/Cadastro">Cadastrar</a>
   </nav>
  </header>
  <h1 class="titulo">Cadastro</h1>
  <div class="Container">
   <form action="/New" method="POST">
    <div class="campo">
     <p class="TitleForm">Numero</p>
     <label for="Numero"></label>
     <input
      type="number"
      name="Numero"
      class="InputForm"
      id="input_numero"
      placeholder="Escreva aqui"
      required
     />
    </div>
    <div class="campo">
     <p class="TitleForm">Nome</p>
     <label for="Nome"></label>
     <input
      class="InputForm"
      type="text"
      name="Nome"
      id="input_nome"
      placeholder="Escreva aqui"
      required
     />
    </div>

    <div class="campo">
     <p class="TitleForm">Tipo</p>
     <label for="Tipo"></label>
     <input
      class="InputForm"
      type="text"
      name="Tipo"
      id="input_tipo"
      placeholder="Use / para mais tipos"
      required
     />
    </div>

    <div class="campo">
     <p class="TitleForm">Imagem Url</p>
     <label for="Image"></label>
     <input
      class="InputForm"
      type="src"
      name="Image"
      id="input_image"
      placeholder="URL"
      required
     />
    </div>

    <div class="campo">
     <p class="TitleForm">Descricao</p>
     <label for="Descricao"></label>
     <input
      class="InputForm"
      type="text"
      name="Descricao"
      id="input_desc"
      placeholder="Escreva aqui "
      required
     />
    </div>

    <div class="campo">
     <p class="TitleForm">Altura</p>
     <label for="Altura"></label>
     <input
      class="InputForm"
      type="number"
      name="Altura"
      id="input_altura"
      placeholder="Altura em Metros "
      required
     />
    </div>

    <div class="campo">
     <p class="TitleForm">Peso</p>
     <label for="Peso"></label>
     <input
      class="InputForm"
      type="number"
      name="Peso"
      id="input_peso"
      placeholder="Peso em kilo gramas "
      required
     />
    </div>

    <div class="campo">
     <p class="TitleForm">Categoria</p>
     <label for="Categoria"></label>
     <input
      class="InputForm"
      type="text"
      name="Categoria"
      id="input_categoria"
      placeholder="Escreva aqui"
      required
     />
    </div>

    <div class="campo">
     <p class="TitleForm">Habilidade</p>
     <label for="Habilidade"></label>
     <input
      class="InputForm"
      type="text"
      name="Habilidade"
      id="input_habilidade"
      placeholder="Escreva aqui"
      required
     />
    </div>
    <div class="CenterButton">
     <button class="botao" type="submit">Adicionar</button>
    </div>
   </form>
  </div>

  <script type="text/javascript" src="js/script.js"></script>
 </body>
</html>
