<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do pokemon</title>
    <link rel="icon" href="/IMG/icon.jpg">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body id= "fundo2">
 


<h1>
    <nav>
<p class="botao1"><a href="https://pokedex-projec-996.herokuapp.com/">Home</a></p>
    </nav>
</h1>


<section>

    <main>



<fieldset id = "grupo">

<header id = "paragrafo">
<h3 id = "titulo">Cadastro</h3>

    <form action="/info" method="POST">
        <p> Numero do pokemon </p>
        <div class = "campo">
            <label for="Numero"></label>
            <input type="number" name="Numero" id="input_numero" placeholder="Escreva aqui" required>
        </div>
    <p>Nome do pokemon</p>
        <div  class = "campo">
            <label for="Nome"></label>
            <input type="text" name="Nome" id="input_nome" placeholder="Escreva aqui" required>
        </div>
    <p>Tipo do pokemon</p>
        <div class = "campo">
            <label for="Tipo"></label>
            <input type="text" name="Tipo" id="input_tipo" placeholder="Use / para mais tipos" required>
        </div>
    <p>Imagem Url do pokemon</p>
        <div class = "campo">
            <label for="Image"></label>
            <input type="src" name="Image" id=input_image placeholder="URL" required>
        </div>
    <p>Descricao do pokemon</p>
        <div class = "campo">
            <label for="Descricao"></label>
            <input type="text" name="Descricao" id=input_desc placeholder="Escreva aqui " required>
        </div>
    <p>Altura do pokemon</p>
        <div class = "campo">
            <label for="Altura"></label>
            <input type="number" name="Altura" id="input_altura" placeholder="Altura em Metros " required>
        </div>
    <p>peso do pokemon</p>
        <div class = "campo">
            <label for="Peso"></label>
            <input type="number" name="Peso" id="input_peso" placeholder="Peso em kilo gramas " required>
        </div>
    <p>Categoria do pokemon</p>
        <div class = "campo">
            <label for="Categoria"></label>
            <input type="text" name="Categoria" id="input_categoria" placeholder="Escreva aqui" required>
        </div>
<p>Habilidade do pokemon</p>
        <div class = "campo">
            <label for="Habilidade"></label>
            <input type="text" name="Habilidade" id="input_habilidade" placeholder="Escreva aqui" required>
        </div>
        <button class= "botao" type="submit">Adicionar</button>
        <script type="text/javascript" src="js/script.js"></script>
    </form>

    </header>
 </main>
</fieldset>

</section>


</body>
</html>